[core]
  autocrlf = false
  excludesfile = ~/.gitignore_global
  whitespace = trailing-space,space-before-tab,indent-with-non-tab

[user]
  name = Hendrik Kleinwaechter
  email = hendrik.kleinwaechter@gmail.com

[alias]
  lg1 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%cr)%C(reset) %C(white)%s%C(reset) %C(bold white)— %cn%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
  lg2 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%cD%C(reset) %C(bold green)(%cr)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white)— %cn%C(reset)' --abbrev-commit
  lg = !"git lg1"
  lg-pretty = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
  recent-branches = for-each-ref --count=30 --sort=-committerdate refs/heads/ --format='%(refname:short)'

[branch]
  autosetuprebase = always

[github]
  user = hendricius
[push]
  default = simple
[pull]
  rebase = true
[rerere]
  enabled = true
